@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
}


body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

#is_checked {
    display:none;
}

#answer {
    width:100%;
    background-color: #1b2035;
    color: white;
    font-family: inherit;
    display: block;
    padding : 1.3rem;
    border: none;
    font-size: 1.1rem;
    text-align: center;
}

#is_checked:checked ~ .solution {
    display: block;
}

.solution {
    display:none;
}

.selection{
    display:none;
}

.quiz_container{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px rgba(100 , 100, 100,0.1);
    overflow: hidden;
}
.context_container{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    box-shadow:  0 0 10px 2px rgba(100 , 100, 100,0.1);
    overflow: hidden;
}

#move_right {
    width: 45%;
    float: right;
}
#move_left {
    width: 45%;
    float: left;
}

.content_container{
    margin: 4rem;
}

.head_container{
    text-align: left;
}

.question_container{
    margin: 4rem;
}


h2{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}
ul li{
    margin: 0 1rem;
    font-size: 1.1rem;

}
ul li label{
    cursor: pointer;
}

button{
    width:100%;
    background-color: #8e44ad;
    color: white;
    font-family: inherit;
    display: block;
    padding : 1.3rem;
    border: none;
    margin: 1.1rem;
    font-size: 1.1rem;
}
button:hover{
    background-color: #732d91;
}

button:focus{
    outline: none;
    background-color: #5e3370;
}

a{
    text-decoration:none;
    color:#fff;
    font-size:15px
}

nav{
    width:80%;
    overflow:hidden;
    height:80px;
    background-color:#1b2035;
    margin: 0 0 50px auto;
}

#nav2 {
  width: 100%;
  position: relative;
  text-align: center;
}

#nav2>a {
  display: block; /* a태그는 글자성격 = inline */
  float: left;
  font-size: 30px;
  font-weight: 900;
  line-height: 80px;
  padding: 0 30px;
}
#nav2>ul {
  float: right;
}
#nav2>ul li {
  float: left;
  padding: 0 30px;
  line-height: 80px;
}